body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}

.form-element {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 500px;
	max-width: 95vw;
}

.form-element > label {
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

input[type="text"], input[type="email"], select {
	padding: 5px 10px;
	border-radius: 25px;
	border: 1px solid black;
}

textarea {
	resize: vertical;
	padding: 15px;
	border-radius: 25px;
	border: 1px solid black;
}

.required-label::after {
	content: '*';
	color: orange;
	text-decoration: none;
}

.indication {
	color:  orange;
	font-size: 0.75rem;
	padding: 5px 10px;
	border-radius: 25px;
	border: 1px solid orange;
	margin: 5px;
}

.radio-element {
	display: flex;
	gap: 15px;
	align-items: center;
}

.submit-button {
	background-color: seagreen;
	color: white;
	border: none;
	border-radius: 25px;
	padding: 10px 15px;
	font-weight: bold;
	margin-top: 10px;
}

.submit-button:hover {
	transform: scale(1.05);
}

.submit-button:active {
	transform: scale(0.9);
}